.components-popover.blockera-component-popover.variations-picker-popover {
	--popover-width: calc(var(--blockera-primary-sidebar-width, 280px) - 42px);
	--blockera-controls-primary-color: var(
		--blockera-controls-variations-color
	);

	.components-popover__content {
		box-shadow:
			0 3px 6px rgba(0, 0, 0, 0.25),
			0 0 5px 7px #ffffff;
	}
}

.blockera-style-variations-animated {
	&,
	.the-layer-3,
	.the-layer-2-bg,
	.the-layer-2,
	.the-layer-1-bg,
	.the-layer-1 {
		transition: var(--blockera-controls-transition);
		transform-origin: 50% 70%;
	}

	.the-layer-1 {
		transform: rotate(25deg) translate(1px, 1px);
	}

	.the-layer-2-bg,
	.the-layer-2 {
		transform: rotate(15deg) translate(0, 1px);
	}

	&.is-animated,
	&:hover {
		.the-layer-1 {
			transform: none;
		}

		.the-layer-2-bg,
		.the-layer-2 {
			transform: none;
		}
	}
}

.blockera-component-popover {
	.global-styles-ui-color-palette-panel,
	.global-styles-ui-gradient-palette-panel {
		padding: 0;
	}

	.blockera-control-var-picker-preset-panel {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
